<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="show_menu"></ion-menu-button>
      <ion-icon *ngIf="back_arrow" (click)="go_back()" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title (click)="choose_state()"> {{statename || "Select State"}} </ion-title>
  </ion-toolbar>
</ion-header>
