
ion-header,
ion-toolbar {
  background: transparent !important;
  color: var(--text-color);
}

.header-translucent-ios ion-toolbar {
  --opacity: 0;
}

ion-menu-button {
  color: var(--text-color);
}

ion-icon {
  font-size: 28px;
}
