<ion-content forceOverscroll="false" fullscreen="true">
  <ion-slides #slides pager="false" [options]="slideOpts">

    <ion-slide>
      <div class="container">
	<app-header [back_arrow]="true"></app-header>
	<div class="content">
	  <h1 class="page-title">Not able to vote?</h1>
	  <div>
	    <div class="page-subtext">
              <p> Nobody should be prevented from exercising their franchise.</p>
	      <p> What method(s) did you try using to vote?</p>
	    </div>
	  </div>

	  <div class="survey-box">
            <div class="survey-checkbox" (click)="by_mail.click()">
              <div class="checkbox" [ngClass]="{'selected':d.by_mail}"><img src="/assets/check.svg" alt="" /></div>
              <input #by_mail type="checkbox" name="by_mail" [(ngModel)]="d.by_mail" (click)="$event.stopPropagation()" />
              <label for="by_mail">I tried by mail</label>
            </div>
            <div class="survey-checkbox" (click)="in_person.click()">
              <div class="checkbox" [ngClass]="{'selected':d.in_person}"><img src="/assets/check.svg" alt="" /></div>
              <input #in_person type="checkbox" name="in_person" [(ngModel)]="d.in_person" (click)="$event.stopPropagation()" />
              <label for="in_person">I tried in person</label>
            </div>
            <div class="survey-checkbox" (click)="other.click()">
              <div class="checkbox" [ngClass]="{'selected':d.other}"><img src="/assets/check.svg" alt="" /></div>
              <input #other type="checkbox" name="other" [(ngModel)]="d.other" (click)="$event.stopPropagation()" />
              <label for="other">Other</label>
            </div>
          </div>
	</div>
	<div class="footer-container">
	  <button class="standard-button" (click)="next()">Next</button>
	</div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">Not able to vote?</h1>

          <div>
            <div class="page-subtext">
              <p> Can you tell us why you weren't able to vote? Select all that apply:</p>
            </div>

            <div class="survey-box">
              <div *ngFor="let reason of reasons; let idx = index" class="survey-checkbox" (click)="click_checkbox('option' + idx)">
		<div class="checkbox" [ngClass]="{'selected':prevented_reasons[reason]}">
		  <img src="/assets/check.svg" alt="checked" />
		</div>
                <input id="{{'option' + idx}}" type="checkbox" (click)="$event.stopPropagation();" (change)="add_remove_reason(reason)" />
                <label>{{reason}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-container">
          <button class="standard-button" (click)="next()">Next</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">Anything else?</h1>

          <div>
            <div class="page-subtext">Would you like to provide more details about why you couldn't vote?</div>
            <textarea class="more-details" [(ngModel)]="more_details"></textarea>
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button" (click)="next()">Next</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
	<app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">Thank you!</h1>

          <div class="page-subtext">
            <p> Your input is important. It will help others to vote safely and easily.</p>
	    <p> Are you willing to be contacted about your problem?  The contact will be via push notification. </p>
          </div>

	  <div class="survey-box">
            <div class="survey-checkbox" (click)="contact_me.click()">
              <div class="checkbox" [ngClass]="{'selected':d.contact_me}"><img src="/assets/check.svg" alt="" /></div>
              <input #contact_me type="checkbox" name="contact_me" [(ngModel)]="d.contact_me" (click)="$event.stopPropagation()" />
              <label for="contact_me">Yes, contact me anonymously</label>
            </div>
	  </div>

          <div class="page-subtext">
            <p><i>We cannot guarantee that every complaint will be addressed.</i> </p>
	  </div>
        </div>
        <div class="footer-container">
          <button class="standard-button" (click)="finish(); go_home();">Done</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
