<ion-content forceOverscroll="false" fullscreen="true">
  <ion-slides #slides pager="false" [options]="slideOpts">

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true"></app-header>
        <div class="content">
          <h1 class="page-title">Thanks for Voting!</h1>
          <div class="page-subtext">
            <p>Thank you for voting, and for being a meaningful part of the democratic process.</p>
            <p>Can we ask you a few questions to gather information about your experience?</p>
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button hollow margin-right" (click)="go_home()">No thanks</button>
          <button class="standard-button solid" (click)="next()">Sure!</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>

        <div class="content">
          <h1 class="page-title">What method did you use to vote?</h1>

          <div class="survey-box">
            <div class="survey-checkbox" (click)="by_mail.click()">
              <div class="checkbox" [ngClass]="{'selected':voting_method.by_mail}">
		<ion-icon name="checkmark-outline" *ngIf="voting_method.by_mail"></ion-icon>
                <img src="/assets/check.svg" alt="" *ngIf="voting_method.by_mail">
              </div>
              <input #by_mail type="checkbox" name="by_mail" [(ngModel)]="voting_method.by_mail" (click)="$event.stopPropagation()" (change)="updateVotingMethod($event);" />
              <label for="by_mail">I voted by mail</label>
            </div>

            <div class="survey-checkbox" (click)="in_person.click()">
              <div class="checkbox" [ngClass]="{'selected':voting_method.in_person}">
                <img src="/assets/check.svg" alt="" *ngIf="voting_method.in_person">
              </div>
              <input #in_person type="checkbox" name="in_person" [(ngModel)]="voting_method.in_person" (click)="$event.stopPropagation()" (change)="updateVotingMethod($event);" />
              <label for="in_person">I voted in person</label>
            </div>
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button" [disabled]="!voting_method.by_mail && !voting_method.in_person" (click)="next()">Next</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">Any other factors?</h1>

          <div>
            <div class="page-subtext">Would you like to provide more details about your voting experience?</div>
            <textarea #textarea class="more-details" [(ngModel)]="more_details"></textarea>
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button" (click)="finish()">Next</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>

        <div class="content">
          <h1 class="page-title">Thank you!</h1>
          <div class="page-subtext">
            <p> Your input is important. It will help others to vote safely and easily.</p>
            <p> You can share the fact that you voted friends and other people directly, or on social media. You can be the catalyst to inspiring others to vote!</p>
            <button class="standard-button unflexed share-button" (click)="do_share()">Share</button>
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button" [disabled]="voting_method == null" (click)="go_home()">Done</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
