<ion-list>
  <ion-item *ngFor="let info of stateInfo" (click)="select_this(info)" lines="none">
    <p>{{info.name}}</p> <span slot="end" *ngIf="info.code2 == selected"><ion-icon name="checkmark-outline"></ion-icon></span>
  </ion-item>
</ion-list>
