@import "../../assets/css/mixins.scss";


header {
  background: red;
  padding: 16px 0;
  background: var(--ion-item-background);
  border-bottom: 1px solid var(--very-subtle);
  padding-top: env(safe-area-inset-top);
  @include flex-center;
}

ion-content {
  --background: var(--ion-item-background) !important;
  --padding-top: 40px;

  ion-list {
    --ion-background-color: var(--ion-item-background) !important;
  }

  ion-item {
    font-size: 110%;
    --background: var(--ion-item-background);
    --border-color: transparent;
    --color: var(--text-color) !important;
  }

  h3 {
    color: var(--text-color);
  }
}
