<ion-menu side="start" menuId="first" contentId="main">
  <header>
    {{ app_name }}
  </header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
	<ion-item (click)="go_about()">About Us</ion-item>
	<ion-item (click)="go_privacy()">Privacy</ion-item>
	<ion-item (click)="go_settings()">Settings</ion-item>

	<div *ngIf="is_developer" style="margin-left: 20px; color: white;">
	  <h3>Developer Menu</h3>
	  <ion-item (click)="turn_off_developer_mode()">Turn Off Developer Mode</ion-item>
	  <ion-item (click)="clear_local_storage()">Clear All Local Storage</ion-item>
	  <ion-item (click)="change_api_server()">Change API Server</ion-item>
	  <ion-item (click)="jump_to_page()">Jump to Page</ion-item>
	  <ion-item (click)="inform('this is a toast')">Make Toast</ion-item>
	</div>
	<ion-item (click)="jump_to_page('welcome')">Version: {{ app_version }}</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
