<ion-content forceOverscroll="false">
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <h1 class="page-title short">How to vote in {{statename}}</h1>

      <div *ngFor="let key of keys">
	<div *ngIf="data[key].text">
	  <h3>{{key}}</h3>
	  <div class="info"><p [innerHTML]="data[key].text | safe:'html'"></p></div>
	</div>
      </div>
    </div>
  </div>
</ion-content>
