@import "./variables.scss";
@import "./colors.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container {
  @include flex-column;
  height: 100vh;
  width: 100vw;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  app-header {
    width: 100%;
  }
  .content {
    width: 100%;
    flex: 1;
    padding: $app-padding;
    overflow: auto;
  }
  footer {
    width: 100%;
    padding: $app-padding;
    @include flex-row;
  }
}

@mixin button-base {
  height: $button-height;
  background: var(--ion-text-color);
  color: var(--ion-background-color);
  padding: 0 $app-padding;
  border: 3px solid var(--ion-text-color);
  @include flex-center;
  &.subtle {
    background: none;
    color: var(--ion-text-color);
  }
  &.empty {
    background: none;
    border: none;
    color: var(--ion-text-color);
  }
}

@mixin header {
  height: $header-height;
  width: 100%;
  color: var(--ion-text-color);
  background: var(--ion-background-color);
  padding: 0 $app-padding;
  @include flex-row;
  .title {
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  .action {
    height: 100%;
    width: 30px;
    @include flex-center;
    ion-icon {
      height: 24px;
      width: 24px;
    }
  }
}

@mixin box {
  box-sizing: border-box;
}

@mixin card {
  padding: 16px;
  background: var(--ion-item-background);
  border: 1px solid var(--very-subtle);
  -webkit-appearance: none;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
