<ion-content forceOverscroll="false" fullscreen="true">
  <ion-slides #slides pager="false" [options]="slideOpts">
    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true"></app-header>
        <div class="content">
          <h1 class="page-title">Make a promise to Vote.</h1>

          <div class="page-subtext">
            Promise a person in your life that you will vote. You could promise your spouse or child or best friend. It makes it easier to keep that promise and make a difference.
          </div>
        </div>

        <div class="footer-container">
          <button class="standard-button" (click)="next()">I've Made a Promise</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">Excellent!</h1>

	  <div>
	    <div class="page-subtext">
	      <p>With whom did you make a promise?</p>
	    </div>
            <div class="survey-box">
              <div *ngFor="let option of options; let idx = index" class="survey-checkbox" (click)="click_checkbox('option' + idx)">
              <div class="checkbox" [ngClass]="{'selected':people[option]}"><img src="/assets/check.svg" alt="" /></div>
                <input id="{{'option' + idx}}" type="checkbox" (click)="$event.stopPropagation();" (change)="add_remove_person(option)" />
                <label>{{option}}</label>
              </div>
	    </div>
	  </div>
	</div>

        <div class="footer-container">
          <button class="standard-button" (click)="next()">Next</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <app-header [back_arrow]="true" [slides]="slides"></app-header>
        <div class="content">
          <h1 class="page-title">That's great!</h1>
          <div class="page-subtext">
	    You can share the fact that you promised to vote with friends and other people directly, or on social media. You can be the catalyst to inspiring others to vote!
          </div>
          <button class="standard-button unflexed share-button" (click)="do_share()">Share</button>
        </div>

        <div class="footer-container">
          <button class="standard-button hollow" (click)="go_home()">Done</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
