/* scan-ballot.page.scss: -*- CSS -*-  DESCRIPTIVE TEXT.*/
/* Copyright (c) 2020 Brian J. Fox
   Author: Brian J. Fox (bfox@opuslogica.com) Mon Oct 12 12:50:17 2020. */
h1,
h2,
h3,
h4 {
  text-align: left;
}

.scanned-pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .scan {
    margin-bottom: 10px;
    position: relative;
    flex: 0 0 48%;
    img {
      width: 100%;
    }
    .progress-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#fff, .5);
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .status {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      color: #666;
      text-align: center;
      padding: 8px;
      background: rgba(#fff, 0.5);
      &.Uploading {
          // background: none;
      }
    }
  }
}
