<ion-content forceOverscroll="false" fullscreen="true">
  <div class="container">
    <app-header [back_arrow]="true"></app-header>
    <div class="content">
      <h1 *ngIf="scans.length == 0" class="page-title short">Archive your ballot</h1>
      <h1 *ngIf="scans.length > 0" class="page-title short">Continue Scanning...</h1>
      <div *ngIf="scans.length == 0" class="page-subtext">
	<p> Archive your ballot and you can help combat voter fraud, verify your ballot choices, and create a non-partisan, non-governmental record of your ballot. </p>
      </div>
      <h2> Instructions </h2>
      <div class="page-subtext">
	<p>
	  <span>Place your ballot flat on an uncluttered surface.</span> Press <strong>Scan Now</strong>, and center the ballot in the camera view.
	  <span *ngIf="device.platform == 'iOS'"> When aligned, a picture will automatically be taken. </span>
	</p>
      </div>

      <div class="scanned-pages">
	<div *ngFor="let scan of scans;let i = index" class="scan {{scan.status}}" (click)="pageClicked(i)">
          <img [src]="scan.src | safe: 'url'" />
          <div class="status {{scan.status}}">{{scan.status}}</div>
          <div *ngIf="scan.status == 'Uploading'" class="progress-container">
            <ion-spinner name="circles"></ion-spinner>
          </div>
	</div>
      </div>
    </div>
    <div *ngIf="scans.length == 0" class="footer-container">
      <button class="standard-button" (click)="scan_one()">Scan Now</button>
    </div>
    <div *ngIf="scans.length > 0" class="footer-container">
      <button class="standard-button hollow margin-right" (click)="scan_one()">Scan Another</button>
      <button class="standard-button" (click)="done()">Done</button>
    </div>
  </div>
</ion-content>
