<ion-content forceOverscroll="false" fullscreen="true">
  <div class="container">
    <div class="content centered">
      <div class="logo-container">
	<img class="logo" (click)="toggle_developer_mode()" src="/assets/logo-badge.svg" />
      </div>
      <h1 class="page-title">Your companion throughout the election process.</h1>
      <div class="page-subtext">
        We are here to help you with timelines and important dates, to help you get your ballot where it's supposed to be, and to help you report a problem if you have trouble voting.
      </div>
      <div *ngIf="is_developer" class="page-subtext" style="color: red"><i>Developer Mode Enabled</i></div>

    </div>
    <div class="footer-container">
      <button class="standard-button" (click)="go_home()">{{button_message}}</button>
    </div>
  </div>
</ion-content>
