<ion-content forceOverscroll="false" fullscreen="true">
  <div class="container">
    <app-header [back_arrow]="true"></app-header>

    <div class="content">
      <h1 class="page-title">
	May we remind you?
      </h1>

      <div class="page-subtext">
	Can we send notifications to remind you about important deadlines, to give you election day information, and to alter you of any potential issues?
      </div>
    </div>

    <div class="footer-container">
      <button class="standard-button hollow margin-right" (click)="skip()">No</button>
      <button class="standard-button solid" (click)="next()">Yes!</button>
    </div>
  </div>
</ion-content>
