<ion-content>
  <div class="container">
    <app-header [back_arrow]="true"></app-header>
    <div class="content">
      <h1 class="page-title short">Your Privacy Matters</h1>
      <div class="body">
	<h2 id="sec1">Information Collection</h2>
        <p>We do not track you or save personal information about you.</p>
	<p>This app asks which state you vote in, and and remembers your choice (you can delete this information with the button below).  This information is not connected to any personal user information.</p>

	<h2 id="sec2">Information Usage</h2>
	<p>The app uses your choice of state to provide timeline and registration information for that state.  If you agree to be notified of upcoming deadlines, our system will know that <em>this phone</em> should receive notifications for that state but will know nothing more about you.</p>
	<p>If you upload a ballot we will record that a ballot was recieved from this phone (in order to reject duplicates) <em>but will not connect that to the ballot itself</em>.</p>
	<p>If you report a problem voting and choose to allow someone to contect you, we will record that this phone can receive a notification, but we will have no information beyond that about you or your phone.</p>
	<p>A person asking to contact you about a problem will not know anything about who you are beyond which state you are in and what problem you reported.  After receiving the notification it will be your choice to respond to that person directly, which you would do via a different mechanism such as phone call or text message</p>

	<h2 id="sec3">Information Protection</h2>
	<h2 id="sec4">Cookies</h2>
	<p>Our web site does not use cookies and does not track visitors except for reliability and security needs, which do not require any personal information and do not relate to any specific person.</p>

	<h2 id="sec4">Source Code</h2>

	<p>You can verify these privacy committments yourself (if you are a computer programmer) or you can ask someone you trust to do so for you.</p>

	<p>This program and its associated API server are Open Source Software, which means anyone can look at the source code ("recipe") for the My Vote Counts application and myvotecounts.app web site.  See <a (click)="open_gitlab()">https://gitlab.com/osesystems/</a> for more information.</p>

	<h2 id="sec5">3rd Party Disclosure</h2>
	<p>We do not provide information about any specific user to any party except for the purpose of  notification above.  Because we do not even <em>collect</em> personal information, we do not store any personal information that could be sold, traded or otherwise transfered.</p>
	<p>We do provide aggregated information about uploaded ballots and reports of voting problems on our web site that anyone may view.</p>
      </div>
    </div>
    <div class="footer-container">
      <button class="standard-button" (click)="clear_data()">Delete my Data</button>
    </div>
  </div>
</ion-content>

