/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./assets/css/variables.scss";
@import "./assets/css/mixins.scss";
@import "./assets/css/icon-magic.css";

@media (prefers-color-scheme: light) {
  :root {
    --background-color: linear-gradient(173.11deg, #F8F8F8 5.95%, #E1E1E1 95.47%);
    --text-color: #222222;
    --subtle-text-color: #666666;
    --very-subtle: #DDDDDD;
    --call-to-action-color: #462c6b;
    --ion-item-background: #ffffff;
  }
  /* This "works" but because it's a gradient, not so much. */
  ion-content{
      --ion-background-color: linear-gradient(173.11deg, #F8F8F8 5.95%, #E1E1E1 95.47%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: linear-gradient(173.11deg, #242424 5.95%, #0C0C0C 95.47%);
    --text-color: #EEEEEE;
    --subtle-text-color: #CCCCCC;
    --very-subtle: #555555;
    --call-to-action-color: #6A36AC;
    --ion-item-background: #333;
  }
  /* This "works" but because it's a gradient, not so much. */
  ion-content{
      --ion-background-color: linear-gradient(173.11deg, #242424 5.95%, #0C0C0C 95.47%);
  }
}

.logo-container {
  width: 100%;
  @include flex-center;
  margin-bottom: $app-padding;
  img {
    display: block;
    width: 50%;
    width: 50%;
  }
}

// Typography >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
p {
  line-height: 135%;
  color: var(--subtle-text-color);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: var(--text-color);
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.page-title {
  margin-bottom: $title-margin;
  text-align: left;
  color: var(--text-color);

  &.short {
    margin-bottom: $short-margin;
  }
}

.page-subtext {
  color: var(--subtle-text-color);
  text-align: left;
  line-height: 135%;
}

.footer-button {
  margin: auto auto 8vh;
  height: 7vh;
  border-radius: 3.5vh;
  width: 90vw;
  background-color: var(--call-to-action-color);
  color: #eee;
  font-weight: bold;
  text-align: center;
  font-height: 3vh;
  line-height: 7vh;
}
// Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.container {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  // background: radial-gradient(circle, rgba(#f4f4f4,1) 0%, rgba(#f6f6f6,1) 50%, rgba(#f8f8f8,1) 100%);
  @include flex-column;

  app-header {
    width: 100%;
  }
}

.content {
  flex: 1;
  width: 100%;
  padding: $app-padding;
  overflow-y: scroll;
  pointer-events: auto;
  &.centered {
    @include flex-center;
    flex-direction: column;
  }
}

.footer-container {
  width: 100%;
  flex: 0 0 auto;
  padding: calc(#{$app-padding}/2) $app-padding calc(#{env(safe-area-inset-top)} + calc(#{$app-padding}/2));
  @include flex-center;
}

button.standard-button {
  height: $button-height;
  border-radius: calc(#{$button-height}/2);
  width: 100%;

  &.half-size {
    width: 45%;
  }
  justify-content: space-around;
  // flex: 1;
  background-color: var(--call-to-action-color);
  color: #eee;
  font-weight: bold;
  border: 4px solid var(--call-to-action-color);
  font-size: 16px;
  @include flex-center;

  &.unflexed {
    flex: none;
  }

  &.margin-right {
    margin-right: 16px;
  }

  &.hollow {
    color: var(--call-to-action-color);
    background: transparent;
  }

  &.go-arrow {
    padding: 0 calc(#{$app-padding} / 2);
    justify-content: flex-start;

    span.text {
      flex: 1;
      text-align: left;
    }

    span.end-icon {
      flex: 0 0 auto;
      font-size: 150%;
      opacity: 0.5;
    }
  }

  &:disabled {
    opacity: .3;
  }
}

.survey-box {
  width: 100%;

  .survey-checkbox {
    width: 100%;
    margin-bottom: $app-padding;
    @include flex-row;
    color: var(--text-color);

    input[type="checkbox"],
    ion-checkbox {
      outline: 4px solid var(--call-to-action-color);
      color: var(--text-color);
      margin-right: 16px;
    }

    label { text-align: left; color: var(--text-color); }
  }
}

.more-details {
  width: 100%;
  margin-top: $app-padding;
  border: none;
  resize: none;
  color: var(--text-color);
  background: white;
  @include card;
}

.ion-page { overflow-x: scroll !important; }

.survey-checkbox {
  .checkbox {
    height: 1em;
    width: 1em;
    border: 3px solid var(--call-to-action-color);
    margin-right: calc(1em * 0.75);
    @include flex-center;
    &.selected {
      background: var(--call-to-action-color);
    }
  }

  input {
    display: none;
  }
}

ion-toast {
  --background: var(--ion-item-background);
  --color: var(--text-color);
  --box-shadow: 0 0 8px rgba(0,0,0,.3);
  --border: 1px solid var(--very-subtle);
}

