<ion-content forceOverscroll="false" fullscreen="true">
  <div class="container">
    <app-header [show_menu]="true" [back_arrow]="false"></app-header>
    <div class="content">
      <div class="timeline-container">
	<h1 class="page-title short">Important Dates</h1>
	<event-timeline></event-timeline>
      </div>

      <div class="resources-container">
	<h1 class="page-title short">Resources</h1>

	<button class="standard-button go-arrow" (click)="go_page('how-and-where', true)">
          <span class="text">How and where can I vote?</span>
          <span class="end-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </span>
	</button>

	<button class="standard-button go-arrow" (click)="go_page('promises')">
          <span class="text">I promise to vote.</span>
          <span class="end-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </span>
	</button>

	<button *ngIf="device.platform != 'Android-notthistime'" class="standard-button go-arrow" (click)="go_page('scan-ballot')">
          <span class="text">I want to archive my ballot.</span>
          <span class="end-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </span>
	</button>

	<button class="standard-button go-arrow" (click)="go_page('voted')">
          <span class="text">I voted!</span>
          <span class="end-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </span>
	</button>

	<button class="standard-button go-arrow" (click)="go_page('prevented')">
          <span class="text">I wasn't able to vote.</span>
          <span class="end-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </span>
	</button>
      </div>
    </div>
  </div>
</ion-content>
