<div class="event-timeline">
  <div *ngIf="!events || events.length == 0" class="page-subtext">
    <p>Please select a state above in order to see the timeline of events for your state.</p>
  </div>
  <div *ngFor="let event of events" class="event">
    <div class="line"></div>
    <div class="event-when">{{event.when}}</div>
    <div class="event-what">{{event.what}}</div>
  </div>
</div>
