@import "../../assets/css/mixins.scss";
@import "../../assets/css/variables.scss";

$event-when-width: 65px;
$line-left: ($event-when-width / 2) - 1;

.event-timeline {
  width: 100%;
  position: relative;

  .event {
    z-index: 2;
    position: relative;
    padding-bottom: $app-padding;
    @include flex-row;

    .event-what,
    .event-when {
      padding: 4px 8px;
      font-size: 14px;
      vertical-align: center;
      position: relative;
    }

    .event-when {
      align-self: flex-start;
      flex: 0 0 $event-when-width;
      text-align: center;
      background: var(--call-to-action-color);
      color: #eee;
      font-size: 12px;
      margin-right: 8px;
    }

    .event-what {
      align-self: flex-end;
      vertical-align: center;
      color: #888;
    }

    .line {
      position: absolute;
      top: 0px;
      left: $line-left;
      width: 3px;
      height: 100%;
      background: var(--very-subtle);
    }

    &:last-child {
      .line {
        opacity: 0;
      }
    }
  }
}
