/*state.page.scss: -*- CSS -*-  DESCRIPTIVE TEXT.*/
/* Copyright (c) 2020 Brian J. Fox
Author: Brian J. Fox (bfox@opuslogica.com) Sun Sep 27 21:05:57 2020. */
@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";

.content {
  @include flex-column;
}

.info {
  margin-bottom: $app-padding;
  flex: 0 0 auto;
}

app-state-chooser {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  @include card;
  padding: 0;
  margin-bottom: $app-padding;
}

ion-item {
  background: red !important;
}
