<ion-content forceOverscroll="false" fullscreen="true">
  <div class="container">
    <app-header [back_arrow]="true"></app-header>

    <div class="content">
      <div class="info">
	<h1 class="page-title">Voting State</h1>
	<div class="page-subtext">
          Tell us which state you will be voting in so that we can give you information about how and when you can vote.
	</div>
      </div>
      <app-state-chooser></app-state-chooser>
    </div>
    
    <div class="footer-container" *ngIf="!skip_allowed">
      <button class="standard-button solid" (click)="next()">Set State</button>
    </div>

    <div class="footer-container" *ngIf="skip_allowed">
      <button class="standard-button hollow margin-right" (click)="skip()">Skip</button>
      <button class="standard-button solid" [disabled]="check_disabled()" (click)="next()">Next</button>
    </div>

  </div>
</ion-content>
